# Git ignore file

# Ignore private init file
init/init-private.el

# Emacs temp. files
\#*\#
*~
.#*
tramp

# ELC
*.elc

# Packages
straight/
elpa/

# DS_Store
.DS_Store

# Emacs cache
cache/
bookmarks

# Private stuff
var/

# Emacs server dir
server/

# Autocomplete history and other dbs
ac-comphist.dat
semanticdb/

# Always keep .gitignore
!.gitignore

# Org-mode
.org-id-locations
*_archive

# Emacs-W3
url/

# Flycheck
flycheck_*

# Ensime
ensime/

# Python compiled files
*.pyc

# Microsoft PyLS
mspyls/

# GCCEmacs files
eln-cache/

# Compiled treesit-modules
etc/treesit-modules
